# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
pos_set = set(range(1,11))
print(pos_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [3]:
pos_set.add(11)
print(pos_set)

pos_set.remove(1)
print(pos_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [9]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set2.difference(set1))
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{8, 10, 6}
{1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [14]:
squares_set = {item**2 for item in range(1,11)}
print(squares_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [16]:
print(pos_set)

even_set = {item for item in pos_set if item % 2 == 0}
print(even_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [17]:
my_set = {1, 2, 3}
new_items = [3, 4, 5, 5]

my_set.update(new_items)
print(my_set)

{1, 2, 3, 4, 5}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [22]:
sup_set = set(range(1,6))
sub_set = set(range(1,4))

print(sub_set.issubset(sup_set))
print(sup_set.issuperset(sub_set))

True
True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [23]:
frozen_set = frozenset(range(1,6))
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [24]:
append_set = set(range(1,6))

append_list = list(append_set)
append_list.append(6)
append_set = set(append_list)
print(append_set)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [27]:
locations = {
    frozenset({0, 0}): 100,
    frozenset({1, 2}): 250,
    frozenset({2, 5}): 500,
}

print(locations)

{frozenset({0}): 100, frozenset({1, 2}): 250, frozenset({2, 5}): 500}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [28]:
iterate_set = {1,2,3,4,5,6,7,8}

for i in iterate_set:
    print(i)

1
2
3
4
5
6
7
8

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [33]:
removal_set = set(range(1,6))
for i in list(removal_set):
    removal_set.remove(i)
    print(removal_set)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [34]:
removal_set = set(range(1,6))
removal_set.clear()
print(removal_set)

set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [35]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 5, 6}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [38]:
even_set = {item for item in range(1,11) if item % 2 == 0}
print(even_set)

print(4 in even_set)
print(12 in even_set)

{2, 4, 6, 8, 10}
True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [41]:
tup_set = {(1,2), (2,3), (3,4), (1,2), (2,1)}
print(tup_set)

{(2, 3), (1, 2), (2, 1), (3, 4)}