# Module 3: Data Structures Assignments

## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [38]:
tup = tuple(range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [39]:
print(tup[0])
print(tup[-1])

if len(tup) % 2 == 1:
    print(tup[len(tup)//2])
else:
    print(tup[len(tup)//2], tup[len(tup)//2-1])

1
10
6 5

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [40]:
print(tup[:3])
print(tup[-3:])
print(tup[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column

In [41]:
nested_tup = ((1,2,3), (4,5,6), (7,8,9))

print(nested_tup[1][2])

6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [42]:
tup1 = (1,2,3)
tup2 = (4,5,6)

result_tup = tup1 + tup2
print(result_tup)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [43]:
duplicate_tup = ("Apple", "Banana", "Apple", "Cherry", 10, 20, 10)

print(duplicate_tup.count("Apple"))
print(duplicate_tup.count(20))

print(duplicate_tup.index(10))

2
1
4

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [44]:
five_tup = ("Banana", "Apple", "Cherry", 10, 20)

(first, second, third, fourth, fifth) = five_tup
print(first, second, third, fourth, fifth)

Banana Apple Cherry 10 20

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [45]:
pos_list = list(range(1,6))

print(tuple(pos_list))

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [46]:
tup_tup = ((1,2,3), (4,5,6), (7,8,9))
print(tup_tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [47]:
pos_tup = tuple(range(1,6))

lst = list(pos_tup)
lst.append(6)
pos_tup = tuple(lst)
print(pos_tup)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [48]:
str_tup = ('a', 'p', 'p', 'l', 'e')
print(str_tup)

print("".join(str_tup))

('a', 'p', 'p', 'l', 'e')
apple

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [49]:
locations = {
    (0, 0): 100,
    (1, 2): 250,
    (2, 5): 500
}

print(locations)

print(locations[(1, 2)])

{(0, 0): 100, (1, 2): 250, (2, 5): 500}
250

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [50]:
print(tup_tup)

for i in tup_tup:
    for j in i:
        print(j, end=" ")

((1, 2, 3), (4, 5, 6), (7, 8, 9))
1 2 3 4 5 6 7 8 9

In [51]:
nested_tup = ((1, 2), (3, 4), (5, 6))

flat_list = [item for subitem in nested_tup for item in subitem]
print(flat_list)

[1, 2, 3, 4, 5, 6]

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [52]:
print(duplicate_tup)

print(set(duplicate_tup))

('Apple', 'Banana', 'Apple', 'Cherry', 10, 20, 10)
{'Apple', 10, 'Banana', 20, 'Cherry'}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [53]:
def max_element(tupe):
    return max(tupe)

def min_element(tupe):
    return min(tupe)

def sum_element(tupe):
    return sum(tupe)

func_tup = (1,2,3,4,5,6,7,8,9,10)
print(max_element(func_tup))
print(min_element(func_tup))
print(sum_element(func_tup))

10
1
55